.agy-tab, .agy-tab-header, div#agy-tab1, div#agy-tab2, div#agy-tab3, div#agy-tab4 {
    background: #fff
}

#agy-wrap h1, #agy-wrap h2, #agy-wrap h3, #agy-wrap h4, #agy-wrap h5, #agy-wrap th, #agy-wrap tr {
    color: #004e7c
}

#agy-wrap small {
    color: #591c0b;
    font-size: 11px
}

#agy-save-changes-btn {
    color: #b73225;
    background: #fff;
    border: 1px solid rgba(183, 50, 37, .3);
    border-radius: 0;
    font-size: 16px;
    font-weight: 500
}

.agy-tab {
    top: 30px;
    position: sticky;
    z-index: 9999
}

a.agy-right-header-side {
    color: #b73225;
    font-size: 16px;
    text-decoration: none
}

a.agy-right-header-side:hover {
    text-decoration: underline
}

.agy-tab-header-wrapper {
    width: 100%;
    display: inline-flex
}

.agy-tab-header-wrapper-left {
    width: 70%
}

.agy-tab-header-wrapper-right {
    width: 30%;
    display: grid;
    padding: 30px 20px;
    text-align: right
}

img.agy-logo {
    width: 150px;
    padding: 10px
}

#agy-wrap {
    max-width: 1200px
}

#agy-save-changes-btn:focus, #agy-save-changes-btn:hover {
    border: 1px solid #b73225;
    background: rgba(183, 50, 37, .1)
}

#agy-save-changes-btn:focus {
    box-shadow: none
}

.agy-tab {
    overflow: hidden;
    border: 1px solid rgba(183, 50, 37, .3)
}

.agy-tab-header {
    overflow: hidden;
    border-left: 1px solid rgba(183, 50, 37, .3);
    border-right: 1px solid rgba(183, 50, 37, .3);
    border-top: 1px solid rgba(183, 50, 37, .3);
    padding: 5px
}

.agy-tab button {
    width: 25%;
    color: #b73225;
    background-color: inherit;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 19px;
    font-weight: 500
}

.agy-tab button:hover {
    border-bottom: 2px solid #b73225;
    background: rgba(183, 50, 37, .1)
}

.agy-tab button.agy-active {
    border-bottom: 2px solid #b73225;
    background: rgba(183, 50, 37, .1)
}

.agy-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgba(183, 50, 37, .3);
    border-top: none
}

.agy-tabcontent {
    animation: showUpEffect 1s
}

@keyframes showUpEffect {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.agy-tabcontent .notice {
    background: 0 0;
    border-top: 1px solid rgba(183, 50, 37, .3);
    border-right: 1px solid rgba(183, 50, 37, .3);
    border-bottom: 1px solid rgba(183, 50, 37, .3)
}

div.agy-tabcontent input.agy-settings-color {
    height: 30px;
    width: 300px;
    border: 1px solid rgba(183, 50, 37, .3);
    border-radius: 0
}

div.agy-tabcontent input.agy-settings-color:focus {
    border-color: #b73225;
    box-shadow: 0 0 0 1px #b73225;
    outline: 2px solid transparent
}

div.agy-tabcontent input.agy-settings-field, div.agy-tabcontent textarea.agy-settings-field {
    width: 300px;
    border: 1px solid rgba(183, 50, 37, .3);
    border-radius: 0
}

div.agy-tabcontent input.agy-settings-field:focus, div.agy-tabcontent textarea.agy-settings-field:focus {
    border-color: #b73225;
    box-shadow: 0 0 0 1px #b73225;
    outline: 2px solid transparent
}

small.agy-field-desc {
    display: flex;
    padding: 3px 5px
}

.agy-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.agy-switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.agy-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.agy-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked + .agy-slider {
    background-color: #b73225
}

input:focus + .agy-slider {
    box-shadow: 0 0 1px #b73225
}

input:checked + .agy-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.agy-slider.agy-round {
    border-radius: 34px
}

.agy-slider.agy-round:before {
    border-radius: 50%
}

span.agy-pro-content {
    position: relative;
    bottom: 10px;
    left: 5px;
    background: #b73225;
    color: #fff;
    padding: 0 5px 5px;
    font-size: 16px
}

span.agy-wc-not-activate {
    padding: 0 11px 1px 11px;
    font-size: 20px;
    border: 2px solid #b73225;
    border-radius: 40px;
    position: relative;
    left: 10px;
    font-weight: 700;
    color: #b73225;
    top: 2px;
    background: rgba(183, 50, 37, .1);
}